<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CSModelCreate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A30ABA151E80DF080025F106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30ABA2B1E80DF080025F106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30ABA361E80DF090025F106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
